@charset "utf-8";

//*------------------*
//*  NOTO SANS JPフォント
//*------------------*

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP&family=Quicksand:wght@700&display=swap');

//*------------------*
//*  変数 config
//*------------------*

@import "setting/config";

//*------------------*
//*  mixin
//*------------------*

@import "mixin/mixin";

//*------------------*
//*  base
//*------------------*

@import "base/base";

//*------------------*
//*  mojule
//*------------------*

// ヘッダー
@import "module/header";

// フッター
@import "module/footer";

// ボタン
@import "module/button";

//*------------------*
//*  page
//*------------------*

// トップページ
@import "page/front-page";

// 下層ページ１


// 下層ページ２


// 下層ページ3


//*------------------*
//*  responsive (mojule)
//*------------------*

// ヘッダー（トップページ）
@import "responsive/header";

// トップページ
@import "responsive/front-page";

// フッター
@import "responsive/footer";


//*------------------*
//*  responsive (下層ページ)
//*------------------*

// 下層ページ１


// 下層ページ２


// 下層ページ３
