//*------------------*
//*  変数管理
//*------------------*

// color
$base-color-white: #fff;

$color-grey1: #333333;
$color-grey2: #fefefe;

// font-family
$font-type1: "Noto Sans JP", sans-serif;
$font-type2: 'Quicksand', sans-serif;
$font-type3: 'Noto Serif JP', serif;