//*------------------*
//*  ヘッダー
//*------------------*
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background-color: $base-color-white;

  &__wrapper {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;

  }

  &__logo {
    width: 109px;
  }
}


//*---------------------*
//*  ハンバーガーメニュー
//*---------------------*

.button {
  display: inline-block;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburger {
  position: fixed;
  top: 26px;
  right: 5%;
  z-index: 7;
  width: 40px;
  height: 40px;
  border-radius: 5%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
  outline: none;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

// .hamburger__scroll {
//   top: 15px;
// }

.hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 32px;
  height: 2px;
  background-color: $color-grey2;
  -webkit-transition: inherit;
          transition: inherit;
  &::before,
  &::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    content: '';
    -webkit-transition: inherit;
            transition: inherit;
  }
}

